.divTech {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 2rem;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 3rem;
	background: linear-gradient(45deg, #0288d1, #007bff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.divTechs {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	padding: 48px 0;
	justify-content: center;

}

.techs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 8.5rem;
	height: 8.5rem;
	box-shadow: 0px -2px 34px 1px rgba(0, 0, 0, 0.20);
	background: linear-gradient(180deg, #0288d1, #01579b);
	color: #ccc;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.1);

	}
}

.techName {
	font-size: 18px;
}

@media (max-width: 1200px) {
	.divTechs {
		gap: 1.5rem;

	}

	.techs {
		width: 7rem;
		height: 7rem;
	}

	.icon {
		width: 2.5rem;
		height: 2.5rem;
	}

	.techName {
		font-size: 0.9rem;
	}
}

@media (max-width: 768px) {

	.divTechs {
		gap: 1rem;
	}

	.techs {
		width: 6rem;
		height: 6rem;
	}

	.techName {
		font-size: 16px;
	}
}